<div class="jumbotron">
    <h1 class="text-center">Projeto</h1>
</div>
<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink] =" ['/cadastro']" class="btn btn-primary">
                            Nova Foto
                        </a>
                    </span>
                    <input #textoProcurado (keyup)="0" class="form-control" placeholder=" Filtrar por titulo da foto">
                    <!-- #textoProcurado variavel do template! posso recuperar em outros lugares-->
                </div>
            </form>
        </div>
    </div>
    
    <br>

    <div class="row">
        <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" 
                titulo="{{foto.titulo | uppercase}}" 
                class="col-md-2">
            <a [routerLink] = "['/cadastro', foto._id]">
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </a>
            <br>
            <botao nome="Remover" estilo="btn-danger btn-block" (action)="remover(foto)" [confirmacao]="true"></botao>
        </painel>
    </div>
</div>